.account-saveditems {
    height: 100%;
    width: 100%;

    .container {
        padding: 40px;
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "userinfo" "courses";
        row-gap: 2rem;

        @include lg {
            grid-template-columns: 1fr 2fr;
            grid-template-areas: "userinfo courses";
            gap: 1rem 5rem;
            padding: 40px;
        }


        h6 {
            color: $theme;
        }

        .user {
            grid-area: userinfo;
            @include standard-text;
            border-right: 1px solid var(--color-gray-200);
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            gap: 1.5rem;
            justify-content: center;
            background-color: var(--color-gray-200);
            border-radius: 6px;
            padding: 10px;

            @include md {
                justify-content: space-around;
            }

            @include lg {
                justify-content: flex-start;
                background-color: var(--color-white);
                padding: 0;
                flex-direction: column;
            }

            .info-user {
                display: flex;
                flex-direction: column;

                @include lg {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }


            .btn-user {
                width: 40%;
                margin-top: 1rem;

                @include lg {
                    width: 70%;
                }

                .button {
                    width: 100%;
                    display: inline-block;
                    text-align: left;
                    padding: 10px;
                    color: var(--color-gray-900);
                    border: 1px solid transparent;
                    box-sizing: border-box;

                    &:hover {
                        border: 1px solid var(--color-gray-700);
                    }

                    .i {
                        margin-right: 1rem;
                        display: none;

                        @include md {
                            display: inline-block;
                        }
                    }
                }

                .active {
                    background-color: var(--color-theme);
                    color: var(--color-white);
                }


                .signout {
                    @include standard-heading;
                    display: inline-block;
                    width: 100%;
                    text-align: left;
                    margin-top: 1rem;
                    margin-left: 1rem;
                }
            }

            .user-img {
                cursor: pointer;
                width: 120px;
                height: 120px;
                margin-bottom: 1rem;
                position: relative;

                img {
                    border-radius: 60px;
                    object-fit: cover;
                }


                .btn-circle-sm {
                    position: absolute;
                    top: 85px;
                    right: 2px;
                    background-color: var(--color-gray-100);
                    color: var(--color-gray-800);
                    padding: 4px;
                    border-radius: 50%;

                    &:hover {
                        color: var(--color-gray-100);
                        background-color: var(--color-gray-700);
                    }
                }
            }

            .name {
                @include h6;
            }

            .email {
                text-align: center;
            }
        }

        .content {
            position: relative;
            z-index: 0;

            .title-button {
                margin-bottom: 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .btn-delete {
                    border: 0.5px solid red;
                    color: red;

                    &:hover {
                        background-color: red;
                        color: white;
                    }
                }
            }

            .course-list {
                grid-area: courses;
                display: grid;
                grid-template-columns: 1fr;

                @include md {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 1rem;
                    position: relative;
                    z-index: -5;
                }


                .course {
                    @include shadow-m;
                    text-decoration: none;
                    color: black;
                    position: relative;
                    z-index: 4;
                    max-height: min-content;


                    .best-seller {
                        position: absolute;
                        z-index: 5;
                        top: 10px;
                        left: 10px;
                        background-color: $success;
                        color: white !important;
                        border-radius: 5px;
                        padding-right: 4px;
                        padding-left: 4px;
                        padding: 5px;
                        @include standard-text;
                        font-size: 12px !important;
                    }

                    form {
                        .saved-item {
                            position: absolute;
                            z-index: 5;
                            top: 10px;
                            right: 15px;
                            background-color: white;
                            border-radius: 50%;
                            border: 1px solid white;
                            padding-left: 0.5rem;
                            padding-right: 0.5rem;
                            font-size: 0.8rem;
                            cursor: pointer;
                        }
                    }


                    .fa-solid {
                        color: var(--color-theme);
                    }

                    .course-details {
                        text-decoration: none;

                        .info {
                            padding: 15px;
                            background-color: var(--color-gray-000);
                            border: 0.5px solid var(--color-gray-100);

                            .course-title {
                                @include h5;
                                color: var(--color-gray-800);
                                margin-bottom: 0;
                            }

                            .course-creator {
                                font-size: 0.8rem;
                                color: $gray-700;
                                margin-bottom: 1rem;
                            }

                            .course-prices {
                                display: flex;
                                gap: 20px;
                                font-weight: 900;

                                .discount-price {
                                    color: $danger;
                                }

                                .original-price {
                                    color: $theme;
                                }

                                .discount {
                                    color: $gray-600;
                                    text-decoration: line-through;
                                    font-weight: 400;
                                }
                            }


                            .course-footer {
                                display: flex;
                                font-weight: 200;
                                gap: 20px;
                                font-size: 0.8rem;
                                color: $gray-600;

                                .course-hours {
                                    i {
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
