.course-details {
    position: relative;

    .img-header {
        height: 500px;
        width: 100%;
        object-fit: cover;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: -1;
        margin: 0 auto;


        img {
            position: absolute;
            top: 0;
            display: block;
            z-index: -3;
            height: 500px;
            width: 100%;
            object-fit: cover;
            margin: 0 auto;
        }
    }

    .container {
        .text-header {
            height: 500px;
            position: absolute;
            top: 0;

            .bread-crumbs {
                display: inline-block;
                margin-top: 25px;
                color: $gray-400;
                margin-bottom: 2rem;
                text-decoration: none;

                @include lg {
                    margin-bottom: 6rem;
                }




                a {
                    margin-right: 1rem;
                    color: white;

                    i {
                        margin-right: 10px;
                    }
                }

                i {
                    margin-right: 10px;
                }
            }

            .title-description {
                height: 80%;

                .labels {
                    width: fit-content;
                    display: flex;
                    gap: 0.5rem;

                    .bestseller {
                        background-color: $success-dark;
                        color: white !important;
                        border-radius: 5px;
                        padding-right: 4px;
                        padding-left: 4px;
                        padding: 5px;
                        @include standard-text;
                        font-size: 12px !important;
                        font-weight: 800;
                    }

                    .digital {
                        background-color: $white;
                        color: $black;
                        border-radius: 5px;
                        padding-right: 4px;
                        padding-left: 4px;
                        padding: 5px;
                        @include standard-text;
                        font-size: 12px !important;
                        font-weight: 800;
                        width: 74px;
                        text-align: center;
                    }
                }

                .title {
                    color: $white;
                }

                .text {
                    color: $gray-400 !important;
                }

                .info {
                    display: flex;
                    color: $gray-400 !important;
                    gap: 1rem;

                    .stars {
                        padding-right: 8px;
                    }

                    .reviews {
                        margin-left: -20px;
                        padding-right: 8px;
                        border-right: 0.063rem solid $gray-700;
                    }

                    .thumbs {
                        padding-right: 8px;
                        border-right: 0.063rem solid $gray-700;
                    }
                }

                .creator {
                    display: grid;
                    grid-template-columns: fit-content;
                    grid-template-areas: 'img p' 'img c';
                    width: fit-content;
                    margin-top: 1rem;
                    color: $gray-400 !important;


                    img {
                        grid-area: img;
                        width: 80%;
                        object-fit: contain;
                    }

                    .created {
                        grid-area: p;
                        margin: 0;
                        @include standard-heading;
                        color: $gray-400 !important;
                    }

                    .creator-name {
                        grid-area: c;
                        margin: 0;
                    }
                }
            }
        }

        .content {
            display: grid;



            @include lg {
                grid-template-columns: 2fr 1fr;
                grid-template-rows: auto;
                grid-template-areas:
                    'title aside' 'learn aside' 'details aside' 'details aside';
            }



            .description {
                display: none;

                @include lg {
                    display: block;
                    width: 80%;
                    margin-top: 7rem;
                    margin-bottom: 3rem;
                }

                @include xl {
                    margin-bottom: 9rem;
                }

                p {
                    margin-right: 2rem;
                }

                .description-title {
                    grid-area: title;
                    margin-bottom: 3rem;
                }

                .learn {
                    grid-area: learn;
                    margin-bottom: 3rem;

                    .learnlist {
                        display: flex;
                        gap: 20px;
                        align-items: center;
                        margin-bottom: 10px;
                        gap: 5px;


                        p {
                            margin: 0;
                        }
                    }
                }
            }

            .aside-info {
                display: none;

                @include lg {
                    grid-area: aside;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-top: 7rem;
                    padding: 30px;
                    height: fit-content;
                    border: 3px solid $gray-400;
                    border-radius: 7px;
                }


                .info {
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    margin-bottom: 0.5rem;

                    .fa-trophy {
                        color: $warning;
                    }


                    p {
                        margin: 0;
                    }
                }

                .prices {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    .current-price {
                        font-weight: 900;
                        color: $gray-900;
                    }

                    .original-price {
                        text-decoration: line-through;
                        font-weight: 100;
                        font-size: 1.1rem !important;
                        color: $gray-500;
                    }
                }

                form {
                    .btn-theme-s {
                        width: 100% !important;
                    }
                }
            }
        }

        .course-content {
            .container {
                display: flex;
                gap: 4rem;

                .box-one {
                    flex: 2;

                    h2 {
                        margin-top: 2rem;
                    }

                    .content {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        gap: 1rem;

                        .circle-gray {
                            display: none;

                            @include lg {
                                z-index: -1;
                                width: 80px;
                                height: 80px;
                                background: $gray-200;
                                border-radius: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-bottom: 3rem;
                            }

                            .circle-white {
                                z-index: 1;
                                width: 60px;
                                height: 60px;
                                background-color: $white;
                                border-radius: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                p {
                                    z-index: 2;
                                    margin-bottom: 0;
                                    color: $black;
                                    font-size: 2rem;
                                    font-weight: 700;
                                    width: 40px;
                                    height: 40px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                            }
                        }

                        .content-text {
                            flex: 5;
                            margin-bottom: 3rem;
                        }
                    }
                }

                .box-two {
                    display: none;

                    @include lg {
                        flex: 1;
                    }
                }
            }
        }
    }

    .creator-info {
        margin-top: 5rem;
        display: grid;
        grid-template-columns: fit-content auto;
        grid-template-areas: 'img text';
        position: relative;

        #pattern {
            position: absolute;
        }

        .creator-img {
            display: block;
            z-index: 2;
        }

        .creator-text {
            grid-area: text;
            padding: 120px;
            background: #0B0F19;
            color: gray !important;

            h2 {
                color: $white;
            }
        }

        .buttons {
            display: flex;
            gap: 2rem;
        }
    }
}
