#saved-courses {
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include lg {
        display: grid;
        grid-template-columns: 2fr 5fr;
        gap: 150px;
        margin-bottom: 70px;
        flex-direction: row;
        justify-content: normal;
        align-items: normal;
    }


    aside {

        @include lg {
            border-right: 1px solid $gray-300;
            padding-right: 20px;
        }

        .profile-info {
            margin: 20px;
            text-align: center;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;

            .profile-info-img {
                position: relative;
                z-index: 1;
                height: 80px;
                width: 80px;


                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .fa-arrows-rotate {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-color: $gray-700;
                    color: $white;
                    z-index: 2;
                    border-radius: 50%;
                    padding: 0.5rem;
                }
            }

            h5 {
                margin-top: 15px;
                margin-bottom: 10px;
            }

            p {
                @include text-m;
            }
        }

        nav {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 50px;
            text-align: center;

            a {
                display: block;
                margin-top: 10px;
                text-align: left;
                font-size: 17px;
                font-weight: 600;

                &:hover {
                    color: $white !important;

                    i {
                        color: $white !important;
                    }
                }

                i {
                    //color: $gray-700;
                    padding-right: 10px;



                    &.fa-solid.fa-gear.fa-creative-commons.fa-bookmark {
                        color: $white;
                    }
                }
            }
            
            .btn-theme-s {
                display: block;
                text-align: left;
                color: $white !important;

                i {
                    color: $white !important;
                    padding-right: 10px;
                }
            }
        }
    }

    .content {
        .content-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 1rem;
            margin-bottom: 3rem;

            h1 {
            }

            .btn-delete {
                background: $white;
                color: $danger-dark;
                border: 1px solid $danger-dark;
            }
        }


        .grid {
            display: grid;
            gap: 2rem;
            margin-top: 1rem;

            @include md {
                grid-template-columns: repeat(1, 1fr);
            }

            @include lg {
                grid-template-columns: repeat(2, 1fr);
            }

            a {
                text-decoration: none;



                :hover {
                    background-color: $white;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) !important;
                }


                .course-card {
                    position: relative;

                    .img-card {
                        width: 100%;
                    }

                    .bookmark {
                        position: absolute;
                        top: 1rem;
                        right: 1rem;
                        background: $white;
                        padding: 0.5rem;
                        border-radius: 50%;
                        cursor: pointer;
                        transition: 0.3s;

                        &:hover {
                            background: $theme;
                            color: $white;
                        }
                    }

                    .bestseller {
                        position: absolute;
                        top: 1rem;
                        left: 1rem;
                        background: $success-dark;
                        color: $white;
                        padding: 0.5rem;
                        border-radius: 5px;

                        p {
                            margin: 0;
                        }
                    }



                    .price {
                        display: flex;

                        .original-price {
                            color: $theme;
                            font-weight: 700;
                            //margin-right: 1rem;
                        }

                        .discounted-price {
                            color: $danger-dark;
                            margin-right: 1rem;
                            font-weight: 700;
                        }

                        .discounted-price-line-through {
                            color: $gray-600;
                            text-decoration: line-through;
                        }
                    }

                    .line {
                        border-top: 1px solid $gray-400;
                        margin-left: 1rem;
                        margin-right: 1rem;
                    }

                    &-hours {
                        display: flex;
                        gap: 2rem;
                        padding: 1rem;
                        color: $gray-600;

                        div {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;
                        }

                        p {
                            margin: 0;
                        }
                    }

                    .course-card_body {
                        padding-left: 1rem;
                    }
                }
            }
        }
    }
}
