#account-details {
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include lg {
        display: grid;
        grid-template-columns: 2fr 5fr;
        gap: 150px;
        margin-bottom: 70px;
        flex-direction: row;
        justify-content: normal;
        align-items: normal;
    }


    aside {
        @include lg {
            border-right: 1px solid $gray-300;
            padding-right: 20px;
        }

        .profile-info {
            margin: 20px;
            text-align: center;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;

            .profile-info-img {
                position: relative;
                z-index: 1;
                height: 120px;
                width: 120px;



                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                    //margin-bottom: 10px;
                }

                .fa-arrows-rotate {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-color: $gray-700;
                    color: $white;
                    z-index: 2;
                    border-radius: 50%;
                    padding: 0.5rem;
                }
            }

            h5 {
                margin-top: 15px;
                margin-bottom: 10px;
            }

            p {
                @include text-m;
            }
        }
        /*details aside nav a i {*/

        nav {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 50px;
            text-align: center;

            a {
                display: block;
                margin-top: 10px;
                text-align: left;
                font-size: 17px;
                font-weight: 600;

                &:hover {
                    color: $white !important;

                    i {
                        color: $white !important;
                    }
                }

                i {
                    color: $gray-700;
                    padding-right: 10px;

                    &:hover {
                        color: $white !important;
                    }

                    &.fa-solid.fa-gear.fa-creative-commons.fa-bookmark {
                        color: $white;
                    }
                }
            }

            .btn-theme-s {
                display: block;
                text-align: left;

                i {
                    color: $white;
                    padding-right: 10px;
                }
            }
        }
    }

    .details {
        margin-top: 50px;
        width: 100%;

        .basicInfoForm {
            form {
                padding: 1rem;

                h5 {
                    color: $theme;
                }

                .content {
                    display: grid;
                    gap: 1rem 2rem;
                    grid-template-columns: 1fr;
                    grid-template-areas: "firstname" "lastname" "email" "phone" "bio" "buttons";

                    @include lg {
                        grid-template-columns: 1fr 1fr;
                        grid-template-areas: "firstname lastname" "email phone" "bio bio" "buttons buttons";
                    }

                    #form-firstname {
                        grid-area: firstname;
                    }

                    #form-lastname {
                        grid-area: lastname;
                    }

                    #form-email {
                        grid-area: email;
                    }

                    #form-phone {
                        grid-area: phone;
                    }

                    #form-bio {
                        grid-area: bio;


                        span {
                            color: $gray-500;
                            font-weight: 400;
                        }
                    }

                    .form-buttons {
                        grid-area: buttons;
                        margin: 20px 0;
                        display: flex;
                        gap: 20px;
                    }
                }
            }
        }


        .addressInfoForm {
            margin-top: 30px;

            form {
                padding: 1rem;

                h5 {
                    color: $theme;
                }

                .content {
                    display: grid;
                    gap: 1rem 2rem;
                    grid-template-columns: 1fr;
                    grid-template-areas: "addressline_1" "addressline_2" "postalcode" "city" "buttons";

                    @include lg {
                        grid-template-columns: 1fr 1fr;
                        grid-template-areas: "addressline_1 addressline_1" "addressline_2 addressline_2" "postalcode city" "buttons buttons";
                    }

                    #form-addressline-1 {
                        grid-area: addressline_1;
                    }

                    #form-addressline-2 {
                        grid-area: addressline_2;


                        span {
                            color: $gray-400;
                            font-weight: 400;
                        }
                    }

                    #form-postalcode {
                        grid-area: postalcode;
                    }

                    #form-city {
                        grid-area: city;
                    }

                    .form-buttons {
                        grid-area: buttons;
                        margin: 20px 0;
                        display: flex;
                        gap: 20px;
                    }
                }
            }
        }
    }
}
