#dontWant {
    background-color: $gray-100;
    padding: 80px 0;



    .container {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;

        .title {
            display: flex;
            justify-content: start;
            align-items: center;

            @include lg {
                justify-content: flex-start;
            }

            h1 {
                @include h4;

                @include lg {
                    @include h1;
                }
            }

            img {
                display: none;

                @include lg {
                    display: block;
                }
            }
        }

        .content {
            .content-signin {
                @include lg {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                }

                .column {
                    margin-left: 0px;

                    @include lg {
                        margin-left: 50px;
                    }

                    .input-group {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 1rem;
                    }
                }
            }
        }

        .content-email {
            .email {
                margin-top: 40px;
                margin-bottom: 10px;
                position: relative;
                z-index: 1;

                .envelope {
                    display: none;

                    @include lg {
                        display: block;
                        position: absolute !important;
                        top: 50% !important;
                        left: 40px !important;
                        transform: translateY(-50%);
                        color: $gray-500;
                        z-index: 2 !important;
                    }
                }


                @include lg {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 20px;
                }

                .input-group {
                    display: block;
                    width: 100%;


                    @include lg {
                        display: block;
                        padding: 13px;
                        padding-left: 30px;
                        border: 0px;
                        border-radius: 5px;
                    }

                    input {
                        width: 100%;
                        padding: 1rem 1rem 1rem 3rem;
                    }

                    span {
                        margin-top: -25px;

                        @include lg {
                            margin-top: -15px;
                        }
                    }
                }

                .btn-theme {
                    margin: 20px 0;

                    @include lg {
                        margin: 0px;
                        margin-left: 20px;
                        padding-left: 50px;
                        padding-right: 50px;
                        padding-top: 15px;
                        padding-bottom: 15px;
                    }
                }
            }

            p {
                margin-left: 0px;

                @include lg {
                    margin-left: 50px;
                }
            }
        }
    }
}
