@using FrontEnd_silicon.Data
@using FrontEnd_silicon.Services
@using Microsoft.AspNetCore.Components.Authorization



@inherits LayoutComponentBase
@inject ThemeService ThemeService
@inject UserDataService UserDataService


@code {
    public ApplicationUser user { get; set; } = null!;


    protected override async Task OnInitializedAsync()
    {

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (authState.User.Identity!.IsAuthenticated)
        {
            user = await UserDataService.GetUserDataAsync();
        }

    }
}

<CascadingValue Value="user">
    <div class="wrapper">
        <Header User="user" />
        <main>
            @Body
        </main>      
        <Footer />
    </div>
</CascadingValue>
       

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

 