@page "/Account/RegisterConfirmation"
@rendermode InteractiveServer

@using System.Text
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using FrontEnd_silicon.Data
@using System.ComponentModel.DataAnnotations

@inject UserManager<ApplicationUser> UserManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager
@inject HttpClient Http


<PageTitle>Register confirmation</PageTitle>

<section id="confirmation">
    <div class="container">
        <h1>Register confirmation</h1>

        @if (!string.IsNullOrEmpty(statusMessage))
        {
            <p>@statusMessage</p>
        }

        <h1>Verify Your Account</h1>
        <p>Didn't receive an email?<button class="btn-gray" @onclick="ResendCode">Resend Code</button></p>

        <EditForm class="form" novalidate FormName="VerifyCode" Model="VerifyCodeForm" asp-route-returnUrl="@ReturnUrl" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <div class="form-content">

                <div class="input-group">
                    <label class="form-label">Enter Your Verification Code</label>
                    <ValidationMessage For="() =>VerifyCodeForm.Code" class="text-danger" />
                    <InputText type="text" @bind-Value="VerifyCodeForm.Code" class="w-25 p-3" />
                    <p>@statusMessage</p>
                </div>

                <button type="submit" class="btn-theme-s">Verify Code</button>
            </div>
           
        </EditForm>
    </div>
</section>


@code {

    [SupplyParameterFromQuery]
    public string? statusMessage { get; set; }

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? Email { get; set; }

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    [SupplyParameterFromForm]
    private VerifyCodeModel VerifyCodeForm { get; set; } = new VerifyCodeModel();

    private async Task OnValidSubmit()
    {
        var result = await Http.PostAsJsonAsync("https://verificationprovider-silicon-gala.azurewebsites.net/api/verification?code=RVY7ufa5b06yFUn3IiKiD0L78VQhjuXyvd6RlhbJj06aAzFuw6F0Qw%3D%3D", new

        {
            Email = Email,
            Code = VerifyCodeForm.Code
        });
        if (result.IsSuccessStatusCode)
        {
            var user = await UserManager.FindByEmailAsync(Email!);
            if (user != null)
            {
                try
                {
                    user!.EmailConfirmed = true;
                    await UserManager.UpdateAsync(user);
                    statusMessage = "Your account has been confirmed successfully.";

                    NavigationManager.NavigateTo("/account/login");
                }
                catch (Exception ex)
                {
                   
                    statusMessage = "Error logging in." + ex.Message;
                }
            }

        }
        else
        {
            statusMessage = "Invalid code.";
        }
    }



    private async Task ResendCode()
    {
        var result = await Http.PostAsJsonAsync("https://verificationprovider-silicon-gala.azurewebsites.net/api/GenerateVerificationCodeHttp?code=3EALQEKhAI2-5Lfz4ZFeiHVY_agBpGkgVtP5CKbegemvAzFuPcHMOw%3D%3D", new { Email = Email });

       if (result.IsSuccessStatusCode)
        {
            statusMessage = "Code resent";
        }
        else
        {
            statusMessage = "Unable to resend code";
        }

    }

    protected override async Task OnInitializedAsync()
    {
        if (Email is null)
        {
            RedirectManager.RedirectTo("/");
        }

        var user = await UserManager.FindByEmailAsync(Email);
        if (user is null)
        {
            HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
            statusMessage = "Error finding user for unspecified email";
        }
    }
    public class VerifyCodeModel
    {
        [Required]
        public string Code { get; set; } = null!;
    }
}