
<div class="features">
    <div class="container">
        <h1>Comments on Tasks</h1>
        <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
        <div class="tools">

            <div class="box">
                <div class="box-img">
                    <img src="images/icons/chat.svg" alt="">
                </div>
                <h5>Comments on Tasks</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="images/icons/tasks.svg" alt="">
                </div>
                <h5>Tasks Analytics</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="images/icons/add-group.svg" alt="">
                </div>
                <h5>Multiple Assignees</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="images/icons/bell.svg" alt="">
                </div>
                <h5>Notifications</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="images/icons/Dropbox.svg" alt="">
                </div>
                <h5>Sections & Subtasks</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="images/icons/shield.svg" alt="">
                </div>
                <h5>Data Security</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>


        </div>
    </div>
</div>

